# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Samuel Peña Moronta\OneDrive - Pontificia Universidad Católica Madre y Maestra\PUCMM\11TH-SEMESTRE-ENERO-2021\Asignacion1\Asignacion1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
